* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'merriweather',serif;
    background-color: #f9fafc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar_brand {
    width: 100px;
}

.navbar_logo {
    width: 100%;
}

.nav_iteam {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border:#000;
    padding: 8px;
    border-radius: 6px;
    font-weight: 600;
}

.nav_iteam:hover {
    border: 2px solid #ff6767;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width: 1024px) {
    .navbar_brand {
        width: 150px;

    }
    .nav_iteam {
        padding: 20px;
        front-size: 20px;
    }
}


















